[user]
  name = Samuel Schuhmacher
  email = forgetaboutit@muhbaasu.de
[alias]
  co = checkout
  sdiff = diff --staged
[fetch]
  # Always run fetch with `--prune`
  prune = true
[push]
  # Always push branch to remote branch with the same name
  default = current
[branch]
  # Automatically track the starting branch
  autosetupmerge = always

  # Always perform a rebase on pull, not a merge
  autosetuprebase = always
